<app-header></app-header>
<main>
  <ul class="" id="users">
    @for (user of users; track user.id){
    <li>
      <app-user [user]="user" (select)="onSelectUser($event)"></app-user>
    </li>
    }
  </ul>
  @if (selectedUser) {
  <app-tasks
    [userId]="selectedUser.id"
    [Taskname]="selectedUser.name"
  ></app-tasks>
  }@else {
  <h2>Please Select a User</h2>
  }
</main>

<!-- or <app-user /> -->
<!-- $event is used to get hold of emitted values form user compoenent -->
<!-- angular internally want to keep track of every that data is being rendered so that when that changes occurs instead of changing the whole list it can just change the selected item -->
